@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: #181818;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 92.3%;
    --background-secondary: #151515;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.75rem;
  }

  .dark {
    --background: #000000;
    --tabletCover: #1c1c1e;
    --tabletScreenBorder: black;
    --elementBgColor: #39393b;
    --elementBgDark: #1c1c1e;
    --borderHighlight: #232527;
    --navhighlight: #232527;
    --knobhighlight: #3b3b3b;
    --borderDark: #0f0f0f;
    --navBackground: #1c1c1e;
    --selectedColor: #f97316;
    --selectedNav: #06b6d4;
    --textIcon: #ffffff;
    --foreground: 0 0% 95%;
  }

  .orange {
    --background: #000000;
    --tabletCover: #1c1c1e;
    --tabletScreenBorder: black;
    --elementBgColor: #39393b;
    --elementBgDark: #1c1c1e;
    --borderHighlight: #232527;
    --navhighlight: #232527;
    --knobhighlight: #3b3b3b;
    --borderDark: #0f0f0f;
    --navBackground: #1c1c1e;
    --selectedColor: #f97316;
    --selectedNav: #06b6d4;
    --textIcon: #ffffff;
    --foreground: 0 0% 95%;
  }
  .blue {
    --background: #000000;
    --tabletCover: #1c1c1e;
    --tabletScreenBorder: black;
    --elementBgColor: #39393b;
    --elementBgDark: #1c1c1e;
    --borderHighlight: #232527;
    --navhighlight: #232527;
    --knobhighlight: #3b3b3b;
    --borderDark: #0f0f0f;
    --navBackground: #1c1c1e;
    --selectedColor: #00c59a;
    --selectedNav: #06b6d4;
    --textIcon: #ffffff;
    --foreground: 0 0% 95%;
  }

  .red {
    --background: #ffffff;
    --tabletCover: #f5554b;
    --tabletScreenBorder: #b42f25;
    --elementBgColor: #39393b;
    --elementBgDark: #1c1c1e;
    --borderHighlight: #ff5f59;
    --navhighlight: #232527;
    --knobhighlight: #3b3b3b;
    --borderDark: #75121a;
    --navBackground: #1c1c1e;
    --selectedColor: #16b1f9;
    --selectedNav: #0682d4;
    --textIcon: #080808;
    --foreground: 0 0% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
html {
  cursor: url("CursorDefault.cur"), auto;
}
